# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
tup=tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
print("first element:",tup[0])
print("Last element:",tup[9])
print("Middle element:",tup[9]//2)

first element: 1
Last element: 10
Middle element: 5

In [ ]:
print("First three element:",tup[0:3])
print("Element in the range of 2 to 5:",tup[2:5])
print("Laste therr elements:",tup[-3:])

First three element: (1, 2, 3)
element in the range of 2 to 5: (3, 4, 5)
Laste therr elements: (8, 9, 10)

In [9]:
##create a nested tuple representing 3x3 matrix. Access and print element at 2nd row and 3rd column
tup=((1,2,3),
     (4,5,7),
     (9,7,1))
for rows in tup:
     print(rows)
print(tup[1][2])

(1, 2, 3)
(4, 5, 7)
(9, 7, 1)
7

In [10]:
##concatination
tup1=(1,2,3)
tup2=(4,5,6)
tup=tup1+tup2
print(tup)

(1, 2, 3, 4, 5, 6)

In [16]:
"""
create a tuple with dublicate elements and count the occurance of the element.
Find index of first occurance of the element in the tuple 
"""
tup=(1,2,3,2,4,2,6,3,2,2,9)
print("Occurance of 2:",tup.count(2))
print("1st occurance of 2:",tup.index(2))

Occurance of 2: 5
1st occurance of 2: 1

In [19]:
##create a tuple with 5 elements and unpack it into veriable 
num=(1,2,3,4,5)
a,b,c,d,e=num
print(a,b,c,d,e)

1 2 3 4 5

In [21]:
##concert a list of 5 elements into tuple
lst=[2,4,6,8,10]
tup=tuple(lst)
print("List of elements is:",lst)
print("Tuple is:",tup)

List of elements is: [2, 4, 6, 8, 10]
Tuple is: (2, 4, 6, 8, 10)

In [30]:
##create a tuple of three elements with each 3 tuple print tuple of tuples
tup=((1,2,3),
     (4,5,6),
     (7,8,9))
##for rows in tup:
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
##crerate a tuple of 5 +ve element convert into list appnd a number 6 and convert it back to tuple
tup=(1,2,3,4,5)
lst=list(tup)
append_list=lst.append(6)
print("Tuple is:",tup)
print("List is:",lst)
print("appended list is:",append_list)
tup1=tuple(lst)
print("Tuple is:",tup1)

Tuple is: (1, 2, 3, 4, 5)
List is: [1, 2, 3, 4, 5, 6]
appended list is: None
Tuple is: (1, 2, 3, 4, 5, 6)

In [34]:
##cretae a tuple with character of string. joint tuple element into single string. print string

string1="anshu"
tup=tuple(string1)
print(tup)
tup1=''.join(tup)
print(tup1)

('a', 'n', 's', 'h', 'u')
anshu

In [39]:
set1={1,2,3,4}
set2={1,2,3,7,8}
print(set1.intersection_update(set2))

None

In [ ]:
set1.copy()
print(set2.intersection(set1))
print(set1.clear())
print("set1.in")

{1, 2, 3}
None